/* EditModel.module.css */

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 8px 0;
    color: #666;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .addButton {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  
  .blockList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .blockItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .removeButton {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .removeButton:hover {
    background-color: #c82333;
  }

  .atras{
    text-decoration: none;
    border-radius: 1vh;
    color: #fff;
    background-color: #007bff;
    padding: 1vh;
  }
  .ulResume {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: all 0.3s ease-in-out;
    width: 20vh;
    margin: 0 auto;
  }
  
  .toggleButton {
    background: #007bff;
    color: hsl(0, 0%, 93%);
    border: none;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .toggleButton:hover {
    background: #0056b3;
  }
  
  .cardContent {
    position:absolute;
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid hsl(193, 100%, 50%);
    background: #f0f8ff;
    border-radius: 5px;
  }
  
  .cardContent ul {
    list-style: none;
    padding-left: 15px;
  }
  
  .cardContent li {
    margin-bottom: 5px;
  }