/* src/styles/EquipmentSelection.module.css */
.equipmentSelectionContainer {
    padding: 20px;
    text-align: center;
  }
  
  .partsContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .part {
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .part:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  