.container {
    text-align: center;
  }
  .option {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
  }

  button{
    background-color: hsl(204, 100%, 43%);
    color: white;
    border: none;
    padding: 1vh;
    border-radius: 1vh;
    cursor: pointer;
  }
  