.container {
  text-align: center;
}
.option {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.ndf{
  border: 1px solid black;
  margin: 2vh auto;
  width: 50%;
  border-radius: 1vh;
}

.textTareaNDF{
  height: 14vh;
}

  
  