/* src/styles/RepairCode.module.css */
.repairCodeContainer {
    padding: 20px;
    text-align: center;
  }
  
  .repairOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .repair {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    text-align: center;
  }
  
  