.container {
  text-align: center;
}
.option {
  cursor: pointer;
  padding: 10px;
  border-radius: 3%;
  border: 1px solid hsl(0, 0%, 0%);
  margin: 10px auto;
  width: 50%;

}

textarea{
  width: 95%;
  padding: 2vh;
  margin: 1vh auto;
}

@media (max-width:450px){
   
  .option{
    width: 80%;
    margin: 5% auto;
  }

  p{
    font-size: 50%;
    margin: 0;
  }

  textarea{
    width: 90%;
  }

}
